@import url('deck.css');
@import url('cards.css');

/* Configurações gerais */

@font-face {
    font-family:Belwe Bold;
    src:url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-b6169fc4bb36b8371d3ccf147929cda79ce37c2059c3abf162270bd9eddb98aed1a62c78dd1af68df8f6a3a239ad5d0f2cdf671b7e16425f74065d7e70fe0a2e.eot);
    src:url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-b6169fc4bb36b8371d3ccf147929cda79ce37c2059c3abf162270bd9eddb98aed1a62c78dd1af68df8f6a3a239ad5d0f2cdf671b7e16425f74065d7e70fe0a2e.eot#iefix) format("embedded-opentype"),url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-9a6521fdfa97c59b38cf872354f166fb40b3c89d1026766795dde6540c536f34f3b30fd0fad9039d9457f80e5136d28400a3c1f5b2a73ecbd931b03d0fbfb840.woff) format("woff"),url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-f53d10b5e1ed94ba65a88b534f1220b01c65ac758c01fff671227644cad3bec8e8bae0a34b5cb14d741a3c089bd8d63bfb0880bf40fb811bab1b682711357287.ttf) format("truetype"),url(/fonts/Belwe-Bold.svg#Belwe\ Bold) format("svg");
    font-weight:400;
    font-style:normal;
    font-stretch:normal
}

body {
    background: #0e1018;
    margin: 0;
    font-family: Belwe Bold, Tahoma, Sans-serif;
    padding-top: 101px;
    color: #c9c186;
}

/* BARRA SUPERIOR - MENU */

.logo {
    background-image: url(../img/icon/logo-hearth.png);
    width: 91px;
    height: 90px;
}

@media screen and (min-width: 560px){
    .logo {
        background-image: url(../img/icon/logo-hearthstone-text.png);
        width: 308px;
        height: 100px;
        background-position: center;
    }
}

header {
    background: #161b2a;
    border-bottom: 1px solid #272d53;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
header ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100px;
    justify-content: space-between;
}
header li a{
    color: #c9c186;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
header li a:hover{
    color: #f8e97f;
    text-decoration: none;
}
.menu {
    max-width: 960px;
    margin:0 auto;
}


/* FORMULARIO COM FILTROS DE PESQUISA */

.pesquisaLayout select, .pesquisaLayout input {
    height: 40px;
    border: 2px solid #354960;
    background: none;
    color: #c9c186;
    border-radius: 10px;
    padding: 0 10px;
}

.pesquisaLayout input:focus {
    outline: none;
}

.pesquisaLayout option {
    color: #000;
    font-size: 12pt;
}

.pesquisaLayout {
    display: grid;
    max-width: 300px;
    margin: 20px auto;
    grid-gap: 20px;
    background: #161b2a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
}

.manaSearch {
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.manaSearch input[type=checkbox] {
    display: none;
}

.manaSearch input[type=checkbox] + label {
    background-image: url(../img/mana.png);
    -webkit-appearance: none;
    padding: 0;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    text-shadow: 0px 0px 4px #000;
    color: #fff;
    font-size: 19px;
    margin: 0;
}

.manaSearch input[type=checkbox]:checked + label {
    border: 1px solid #fff;
    border-radius: 50%;
}

/* HEROIS NA PÁGINA INICIAL */

.heroes {
    display: grid;
    padding: 10px;
    grid-gap: 30px;
    margin: 0 auto 50px auto;
    justify-items: center;
    max-width: 960px;
}
.choise {
    width: 300px;
    height: 36px;
    background-image: url('../img/card-gallery-class.png');
    background-position: -9px 100px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff8c8;
    text-transform: uppercase;
}
.hero{
    position: relative;
    width: 85vw;
    height: 35vw;
    max-width: 402px;
    max-height: 150px;
    border: 1px solid #c3be95;
    background-position: center -30px;
    box-shadow: inset 0px 0px 15px #000;
}
.hero:hover {
    box-shadow: 0 0 10px #e1ae46;
}
.hero_name {
    position: absolute;
    bottom:0;
    color: #fff;
    background: linear-gradient(to right,#0009,#0000);
    padding: 10px;
}
@media screen and (min-width: 560px){
    .hero {
        width: 100%;
    }
    .heroes {
        grid-template-columns: repeat(3,1fr);
    }
    .choise {
        grid-column: 1/4;
    }
}

/* FOOTER */

.credits {
    background: #161b2a;
    border: 1px solid #354960;
    color: #b0afa8;
    padding: 0 15px;
    text-align: center;
    font-size: 10pt;
    padding-top: 16px;
    font-family: Tahoma, Sans-serif;
}

/* SOCIAL MIDIAS */

.social-midias {
    height: 69px;
    display: flex;
    justify-content: center;
    background: #1a2739;
    border-top: 1px solid #354960;
}
.social-midias a{
    width: 65px;
    margin: 0 10px;
    opacity: .8;
    background-size: cover;
}
.social-midias a:hover {
    opacity: 1;
}
.social-midias .lattes {
    background-image: url(../img/icon/lattes.png);
}
.social-midias .github {
    background-image: url(../img/icon/github.png);
}
.social-midias .linkedin {
    background-image: url(../img/icon/linkedin.png);
}