@font-face {
    font-family:Belwe Bold;
    src:url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-b6169fc4bb36b8371d3ccf147929cda79ce37c2059c3abf162270bd9eddb98aed1a62c78dd1af68df8f6a3a239ad5d0f2cdf671b7e16425f74065d7e70fe0a2e.eot);
    src:url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-b6169fc4bb36b8371d3ccf147929cda79ce37c2059c3abf162270bd9eddb98aed1a62c78dd1af68df8f6a3a239ad5d0f2cdf671b7e16425f74065d7e70fe0a2e.eot#iefix) format("embedded-opentype"),url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-9a6521fdfa97c59b38cf872354f166fb40b3c89d1026766795dde6540c536f34f3b30fd0fad9039d9457f80e5136d28400a3c1f5b2a73ecbd931b03d0fbfb840.woff) format("woff"),url(https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-f53d10b5e1ed94ba65a88b534f1220b01c65ac758c01fff671227644cad3bec8e8bae0a34b5cb14d741a3c089bd8d63bfb0880bf40fb811bab1b682711357287.ttf) format("truetype"),url(/fonts/Belwe-Bold.svg#Belwe\ Bold) format("svg");
    font-weight:400;
    font-style:normal;
    font-stretch:normal
}

/* BARRA SUPERIOR - MENU */

header {
    font-family: Belwe Bold, Sans-serif;
    background: #161b2a;
    border-bottom: 1px solid #272d53;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
header ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100px;
    justify-content: space-between;
}
header li a{
    color: #c9c186;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
#druida:active {
    opacity: 1;
}
.menu {
    max-width: 960px;
    margin:0 auto;
}
body {
    background: #0e1018;
    margin: 0;
    font-family: Tahoma, sans serif;
    padding-top: 101px;
}

/* FORMULARIO COM FILTROS DE PESQUISA */

.filter {
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #354960;
    font-family: Belwe Bold, sans-serif;
}

.filter select {
    margin: 10px 0;
    height: 40px;
    border: 2px solid #354960;
    background: none;
    color: #c9c186;
    font-family: Belwe Bold, sans-serif;
}

.filter option {
    color: #000;
    font-size: 12pt;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    background: #0e1018;
    max-width: 960px;
    margin: 0 auto;
}
@media screen and (min-width: 560px){
    .cards {
        grid-template-columns: repeat(3,auto);
    }
}
@media screen and (min-width: 740px){
    .cards {
        grid-template-columns: repeat(4,auto);
    }
}
@media screen and (min-width: 920px){
    .cards {
        grid-template-columns: repeat(5,auto);
    }
}

.shadow {
    position: absolute;
    top: -60px;
    font-size: 13px;
    background: #1a2739;
    border-radius: 10px;
    padding: 2px;
    left: 10px;
    right: 10px;
    bottom: 203px;
    border: 1px solid #c9c186;
}
@media screen and (min-width:380px){
    .shadow {
        top: -45px;
        bottom: 249px;
    }
}
.shadow p {
    padding: 5px;
    margin: 0;
    border-radius: 7px;
    border: 2px solid #c9c186;
    color: #c9c186;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 30px;
}

.fa-times-circle:hover {
    color: rgb(119, 118, 134);
}

.moreinfo {
    display: grid;
    position: fixed;
    z-index: 3;
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    top: 0;
}

.moreinfo div:first-child {
    display: grid;
    background: #17181f;
    border-radius: 10px;
    position: relative;
    width: 90vw;
    margin: auto;
    max-width: 700px;
}

.moreinfo img {
    border-radius: 10px 0px 0px 10px;
    margin: auto;
}

@media screen and (min-width:600px){
    .moreinfo div:first-child {
        grid-template-columns: 1fr 2fr;
    }
}

.details {
    padding: 0 10px;
}

.addDeck {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url(../img/add1.png);
    background-size: cover;
}

.addDeck:hover {
    background-image: url(../img/add2.png);
}

.logo {
    background-image: url(../img/icon/logo-hearth.png);
    width: 91px;
    height: 90px;
}

@media screen and (min-width: 560px){
    .logo {
        background-image: url(../img/icon/logo-hearthstone-text.png);
        width: 308px;
        height: 100px;
        background-position: center;
    }
}

/* CONFIGURAÇÕES DO CARD */

.card {
    position: relative;
}
.card img {
    max-width: 150px;
    transition: all .6s;
}
.card img:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 380px){
    .card img {
        max-width: 180px;
    }
}

/* FOOTER */

.credits {
    background: #161b2a;
    border: 1px solid #354960;
    color: #b0afa8;
    padding: 0 15px;
    text-align: center;
    font-size: 10pt;
    padding-top: 16px;
}

/* SOCIAL MIDIAS */

.social-midias {
    height: 69px;
    display: flex;
    justify-content: center;
    background: #1a2739;
    border-top: 1px solid #354960;
}

.social-midias a{
    height: 69px;
    width: 65px;
    background: #fff0;
    margin: 0 10px;
    opacity: .8;
}
.social-midias .lattes {
    background-image: url(../img/icon/lattes.png);
    background-size: cover;
}
.social-midias .github {
    background-image: url(../img/icon/github.png);
    background-size: cover;
}
.social-midias .linkedin {
    background-image: url(../img/icon/linkedin.png);
    background-size: cover;
}
.social-midias .lattes:hover {
    opacity: 1;
}
.social-midias .github:hover {
    opacity: 1;
}
.social-midias .linkedin:hover {
    opacity: 1;
}

.img {
    position: relative;
}

.img img{
    max-height: 50px;
}

.text-card {
    position: absolute;
    background-image: linear-gradient(to right, #000 20%, #fff0 80%);
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    padding-left: 15px;
    font-family: Belwe Bold, Sans-serif;
    margin: 0;
}

.num-deck {
    font-family: Belwe Bold, Sans-serif;
    color: #fff;
    width: 35px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    text-shadow: 1px 0px 3px #000;
}

.mana { background: #000;background-image: url('../img/mana.png');background-size: cover;width: 50px;}
.LEGENDARY { background: rgb(255, 209, 4)}
.EPIC { background: #830da7;}
.RARE { background: #0d65a7;}
.COMMON { background: rgb(151, 151, 151)}


.row-card {
    display: flex;
    border: 2px solid #000;
    height: 50px;
}

.deck {
    justify-items: center;
    background: #2d4669;
    position: fixed;
    z-index: 1;
    box-shadow: inset 0px 0px 20px #000;
    margin-bottom: 30px;
    border-bottom: 2px solid #172735;
    grid-gap: 2px;
    transition: right 1s;
    max-width: 304px;
    right: 0;
    padding: 9px;
    display: grid;
    justify-content: normal;
    top: -500px;
    overflow-y: auto;
    max-height: 75vh;
    transition: top 1s;
}

@media screen and (min-width:360px){
    .deck {
        padding: 9px 26px 9px 9px;
    }
}

.deckCards {
    display: grid;
    grid-gap: 2px;
}

/* HEROIS */

.hero{
    border: 1px solid #c3be95;
    height: 35vw;
    width: 85vw;
    background-position-y: -30px;
    background-position-x: center;
    max-width: 402px;
    position: relative;
    box-shadow: inset 0px 0px 15px #000;
    max-height: 150px;
}

.hero:hover {
    box-shadow: 0 0 10px #e1ae46;
}

.heroes {
    display: grid;
    background: #0e1018;
    padding: 10px;
    grid-gap: 6vw;
    margin: 0 auto 50px auto;
    justify-items: center;
    max-width: 960px;
}

.hero_name {
    display: flex;
    position: absolute;
    bottom:0;
    font-family: Belwe Bold, Sans-serif;
    color: #fff;
    background: linear-gradient(to right,#0009,#0000);
    height: 20px;
    align-items: end;
    padding: 10px;
}

@media screen and (min-width: 560px){
    .hero {
        width: 100%;
    }
    .heroes {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }
    .choise {
        grid-column: 1/4;
    }
}

.choise {
    width: 320px;
    height: 36px;
    background-image: url('../img/card-gallery-class.png');
    background-position-x: 0px;
    background-position-y: 100px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff8c8;
    font-family: Belwe Bold, sans-serif;
    text-transform: uppercase;
}

/* arte com nome da classe das cartas filtradas */

.art {
    display: flex;
    max-width: 288px;
    height: 65px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background-image: url(../img/card-gallery-class.png);
    font-family: Belwe Bold, sans-serif;
    color: #fff8c8;
    justify-content: center;
    align-items: center; 
}
.art_mage {background-position-x: -521px; background-position-y: -172px;}
.art_druid {background-position-x: 1px; background-position-y: -470px;}
.art_paladin {background-position-x: 1px; background-position-y: -382px;}
.art_shaman {background-position-x: 1px; background-position-y: -212px;}
.art_warlock {background-position-x: -521px; background-position-y: -257px;}
.art_rogue {background-position-x: -521px; background-position-y: -85px;}
.art_priest {background-position-x: -521px; background-position-y: 2px;}
.art_hunter {background-position-x: -305px;background-position-y: -470px;}
.art_warrior {background-position-x: -521px; background-position-y: -342px;}
.art_all {background-position-x: 1px; background-position-y: -296px;}

/* curva de mana no deck */

.curvaMana {
    display: flex;
    width: 300px;
    height: 160px;
    justify-content: space-around;
    background: #18182d;
    border: 2px solid #000;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

.curva {
    background: #2d4669;
    width: 20px;
    height: 70%;
    position: relative;
    margin: 5px;
    border-radius: 2px;
}

.curva div{
    background: #fff;
    width: 100%;
    height: 0%;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transition: .3s height;
}

.curveManaTotal {
    display: flex;
    justify-content: space-around;
    width: 304px;
    align-items: center;
    padding: 5px 0;
    background: #000;
    color: #fff;
}

#totalArcane {
    display: flex;
    align-items: center;
}

#totalArcane img {
    height: 25px;
}